*
{
    -jfx-light-primary-color: -indigo-A200;
    -jfx-dark-primary-color: -indigo-A700;
    -jfx-primary-color: -indigo-A400;
    -fx-accent: -indigo-A100;
    -jfx-font-color: #333333;

    -jfx-default-thumb: -jfx-primary-color;
    -jfx-checked-color: -jfx-primary-color;
    -jfx-default-color: -jfx-primary-color;
    -jfx-toggle-color: -jfx-primary-color;
    -jfx-focus-color: -jfx-primary-color;
    -fx-text-base-color: -jfx-font-color;
    -jfx-unfocus-color: #4d4d4d;
    -fx-focus-color: -fx-accent;
}

.container { -fx-background-color: #FAFAFA; }

.pane
{
    -fx-background-color: WHITE;
    -fx-background-radius: 10;
    -fx-padding: 15;
}

/*******************************************************************************
 * Toolbar                                                                     *
 ******************************************************************************/

.jfx-tool-bar { -fx-background-color: -jfx-primary-color; }

/*******************************************************************************
 * Date picker                                                                 *
 ******************************************************************************/

.date-picker-popup .time-pane { -fx-background-color: -jfx-primary-color; }

/*******************************************************************************
 * Tooltip                                                                     *
 ******************************************************************************/

.jfx-tooltip { -fx-background-radius: 4px; }

/*******************************************************************************
 * Spinner                                                                     *
 ******************************************************************************/

.jfx-spinner:determinate .arc { -fx-stroke: -jfx-primary-color; }

/*******************************************************************************
 * Hamburger button                                                            *
 ******************************************************************************/

.jfx-hamburger StackPane
{
    -fx-background-color: WHITE;
    -fx-background-radius: 5;
}

/******************************************************************************
* Dialog                                                                      *
******************************************************************************/

.jfx-dialog-layout .jfx-layout-heading .text { -fx-font-size: 14; }

.jfx-layout-body *
{
    -fx-font-size: 13;
    -fx-fill: #757575;
}

.jfx-dialog-layout .jfx-button { -fx-text-fill: -jfx-primary-color; }

/******************************************************************************
* Chip view                                                                   *
******************************************************************************/

.jfx-chip-view .jfx-chip > HBox
{
    -fx-font-size: 12.0;
    -fx-background-color: #E0E0E0;
    -fx-padding: 5 5 5 8;
    -fx-pref-height: 0;
}

/******************************************************************************
* List view                                                                   *
******************************************************************************/

.jfx-list-view .jfx-rippler, .jfx-combo-box .jfx-rippler { -jfx-rippler-fill: WHITE; }

.list-view .list-cell:odd { -fx-background-color: -grey-100; }

.jfx-list-view .jfx-list-cell:selected, .jfx-combo-box .jfx-list-cell:selected { -fx-background-color: #BDBDBD; }

.jfx-list-view:focused .jfx-list-cell:selected, .jfx-combo-box .jfx-list-cell:selected
{
    -fx-background-color: -jfx-light-primary-color;
    -fx-text-fill: WHITE;
}

/******************************************************************************
* Tree table view                                                             *
******************************************************************************/

.tree-table-view .tree-table-row-cell:odd  { -fx-background-color: -grey-100; }

.jfx-tree-table-view .tree-table-row-cell:selected { -fx-background-color: #BDBDBD; }

.jfx-tree-table-view:focused .tree-table-row-cell:selected { -fx-background-color: -jfx-light-primary-color; }

.jfx-tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell { -fx-text-fill: WHITE; }

.jfx-tree-table-view .column-resize-line, .jfx-tree-table-view .column-drag-header { -fx-background-color: -jfx-light-primary-color; }

.jfx-tree-table-view .column-overlay { -fx-background-color: -fx-accent; }

.jfx-tree-table-view .column-drag-header .label { -fx-text-fill: WHITE; }

/******************************************************************************
* Snackbar                                                                    *
******************************************************************************/

.jfx-snackbar-content
{
    -fx-background-color: #323232;
    -fx-background-radius: 4;
    -fx-translate-y: -15;
}

.jfx-snackbar-toast
{
    -fx-font-size: 12;
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action
{
    -fx-text-fill: -jfx-light-primary-color;
    -fx-font-weight: BOLD;
}

/******************************************************************************
* Decorator                                                                   *
******************************************************************************/

/* WINDOW BAR TITLE */
.jfx-decorator .jfx-decorator-buttons-container { -fx-background-color: -jfx-dark-primary-color; }

/* WINDOW BORDER */
.jfx-decorator .resize-border
{
    -fx-border-color: -jfx-dark-primary-color;
    -fx-border-width: 0 4 4 4;
    -fx-border-radius: 0 0 5 5;
}

/* WINDOW TITLE */
.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text
{
    -fx-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-buttons-container
{
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
}

.jfx-decorator
{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.jfx-decorator-win-10, .jfx-decorator-win-10 .resize-border , .jfx-decorator-win-10 .jfx-decorator-buttons-container
{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/******************************************************************************
* Scroll bar                                                                  *
******************************************************************************/

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb
{
    -fx-background-color: #BDBDBD; /* Color de la barra */
    -fx-background-radius: 8EM;
    -fx-border-radius: 8EM;
    -fx-pref-height: 10PX;
}

.scroll-bar:horizontal
{
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 0;
}

.scroll-bar:vertical
{
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 0;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track
{
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button
{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow
{
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-pane .viewport { -fx-background-color: TRANSPARENT; }

.scroll-pane { -fx-background-color: TRANSPARENT; }

.scroll-pane .content
{
    -fx-padding: 10PX;
    -fx-alignment: CENTER;
    -fx-background-color: TRANSPARENT;
}

.scroll-pane .corner { -fx-background-color: TRANSPARENT; }